/semana7/app_expresionesRegulares1/nbproject/private/
/semana7/app_expresionesRegulares1/build/
/semana7/2024_03_22_app_expRegularesEvaluacion/nbproject/private/
/semana7/app_expresionesRegulares2/nbproject/private/
/semana7/2024_03_22_app_expRegularesEvaluacion/build/
/semana7/app_expresionesRegulares2/build/
/semana7/app_evaluacion1_expReg/nbproject/private/
/semana7/app_evaluacion1_expReg/build/
/semana7/app_evaluacion2_expReg/nbproject/private/
/semana7/app_evaluacion3_expReg/nbproject/private/
/semana7/app_evaluacion2_expReg/build/
/semana7/app_evaluacion3_expReg/build/
/semana7/21130876_GUI_app_evaluacion2_expReg - copia/app_tarea3_ejemplos_expReg/nbproject/private/
/semana7/21130876_GUI_app_evaluacion2_expReg - copia/app_tarea3_ejemplos_expReg/build/
/semana8/playingREGEX/nbproject/private/
/semana8/playingREGEX/build/